/* Estilos generales */
.custom-bg-gray {
  background-color: rgb(53, 58, 64);
}

.nav-item {
  font-weight: bolder;
}

section::before {
  content: "";
  display: block;
  height: 90px; /* Altura de tu navbar */
  margin: -90px 0 0; /* Negativo de la altura de tu navbar */
  visibility: hidden;
}

/* Estilos para pantallas pequeñas (max-width: 576px) */
@media (max-width: 576px) {
  body {
    padding-top: 90px; /* Espacio para el navbar en pantallas de tamaño celular */
  }

  .carousel-caption {
    font-size: 2.5vw; /* Tamaño de fuente más pequeño para pantallas de celular */
    max-width: 90%; /* Limita el ancho del texto para evitar que salga de la imagen */
    left: 5%; /* Ajusta la posición del texto para centrarlo mejor */
    padding: 10px; /* Reduce el espaciado */
  }

  .carousel-caption h1 {
    font-size: 3.5vw; /* Tamaño de fuente más pequeño para el título en pantallas de celular */
  }

  .btn {
    padding: 1vw 2vw; /* Reducir el espacio interno de los botones */
    font-size: 2vw; /* Tamaño de fuente más pequeño para los botones en pantallas de celular */
    line-height: 1.5;
  }
}

/* Estilos del Carousel */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.bg-transparent-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px 20px;
}

.bg-transparent-box h1,
.bg-transparent-box p {
  font-weight: bold;
}

/* Estilos para encabezados H2 */
.custom-h2 {
  font-size: 1rem; /* Tamaño de letra más pequeño para estos h1 */
}

.custom-h2 .oradores {
  font-size: 2.5rem; /* Tamaño de letra más grande para el texto dentro del span */
  font-weight: bold; /* Texto en negrita para el texto dentro del span */
}

/* Estilos para botones */
.btn {
  font-weight: bold;
}

.btn-custom-green {
  background-color: rgb(150, 201, 62);
  border-color: rgb(150, 201, 62);
  color: #fff;
}

.btn-custom-green:hover {
  background-color: #3ec943;
  border-color: #3ec943;
  color: #fff;
}

/* Estilos para el footer */
#footer {
  background-color: rgb(28, 61, 78);
}

#footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Estilos para enlaces */
.text-white a {
  text-decoration: none;
}

.text-white a:hover {
  text-decoration: underline;
}

