.custom-bg-gray {
  background-color: rgb(53, 58, 64);
}

.nav-item {
  font-weight: bolder;
}

@media (max-width: 576px) {
  .carousel-caption {
      font-size: 0.9rem;
  }
  .carousel-caption h1 {
      font-size: 1.2rem;
  }
  .btn {
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
  }
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.bg-transparent-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px 20px;
  max-height: 250px; /* Ajusta el valor de acuerdo a tu preferencia */
}

.bg-transparent-box h1,
.bg-transparent-box p {
  font-weight: bold;
}

.custom-h2 {
  font-size: 1rem; /* Tamaño de letra más pequeño para estos h1 */
}

.custom-h2 .oradores {
  font-size: 2.5rem; /* Tamaño de letra más grande para el texto dentro del span */
  font-weight: bold; /* Texto en negrita para el texto dentro del span */
}

.btn {
  font-weight: bold;
}

.btn-custom-green {
  background-color: rgb(150, 201, 62); 
  border-color: rgb(150, 201, 62);
  color: #fff; 
}

.btn-custom-green:hover {
  background-color: #3ec943; 
  border-color: #3ec943; 
  color: #fff;
}

#footer {
  background-color: rgb(28, 61, 78);
}

#footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}

.text-white a {
    text-decoration: none;
}

.text-white a:hover {
  text-decoration: underline;
}
